Repository rajadilipkolli/my-spring-boot-experiments, pull requests merged in 2022-10, with the labels that each got.

#297 adds workflow to publish image
  .github/workflows/spring-boot-strategy-plugin.yml
  spring-boot-strategy-plugin/build.gradle
  spring-boot-strategy-plugin/docker-compose.yml
Labels: component: strategy-plugin

#309 refactor and rationalize
  .gitpod.yml
  spring-boot-mongodb-elasticsearch/pom.xml
  spring-boot-mongodb-elasticsearch/src/main/java/com/example/mongoes/document/Restaurant.java
  spring-boot-mongodb-elasticsearch/src/main/java/com/example/mongoes/elasticsearch/repository/CustomRestaurantESRepository.java
  spring-boot-mongodb-elasticsearch/src/main/java/com/example/mongoes/elasticsearch/repository/CustomRestaurantESRepositoryImpl.java
  spring-boot-mongodb-elasticsearch/src/main/java/com/example/mongoes/web/controller/RestaurantController.java
  spring-boot-mongodb-elasticsearch/src/main/java/com/example/mongoes/web/controller/SearchController.java
  spring-boot-mongodb-elasticsearch/src/main/java/com/example/mongoes/web/service/RestaurantService.java
  spring-boot-mongodb-elasticsearch/src/main/java/com/example/mongoes/web/service/SearchService.java
  spring-boot-mongodb-elasticsearch/src/test/java/com/example/mongoes/ApplicationIntegrationTest.java
  spring-boot-mongodb-elasticsearch/src/test/java/com/example/mongoes/elasticsearch/repository/RestaurantESRepositoryTest.java
Labels: type: dependency-upgrade, component: mongodb-elasticsearch

#291 convert to native image
  .github/workflows/spring-boot-jobrunr-sample-native.yml
  spring-boot-jobrunr-sample/pom.xml
  spring-boot-jobrunr-sample/src/main/java/com/example/jobrunr/config/Initializer.java
Labels: type: dependency-upgrade, component: jobrunr

#332 converts to native image
  .gitpod.Dockerfile
  spring-boot-jobrunr-sample/README.md
  spring-boot-jobrunr-sample/pom.xml
  spring-boot-jobrunr-sample/src/test/java/com/example/jobrunr/common/ExceptionHandling.java
Labels: type: dependency-upgrade, component: jobrunr

#333 upgrade to spring boot 3.0.0-RC1
  spring-boot-read-replica-postgresql/pom.xml
  spring-boot-read-replica-postgresql/src/main/java/com/example/demo/readreplica/config/SwaggerConfig.java
  spring-boot-read-replica-postgresql/src/main/java/com/example/demo/readreplica/entities/Article.java
  spring-boot-read-replica-postgresql/src/main/java/com/example/demo/readreplica/entities/Comment.java
  spring-boot-read-replica-postgresql/src/main/resources/application.yml
Labels: type: dependency-upgrade, component: read-replica-postgres

#346 Revert "upgrade to SpringBoot 3.0.0-RC1"
  spring-boot-togglz-sample/pom.xml
  spring-boot-togglz-sample/src/main/java/com/example/featuretoggle/entities/Customer.java
  spring-boot-togglz-sample/src/main/resources/application.properties
  spring-boot-togglz-sample/src/test/java/com/example/featuretoggle/common/ExceptionHandling.java
  spring-boot-togglz-sample/src/test/java/com/example/featuretoggle/web/controllers/CustomerControllerIT.java
  spring-boot-togglz-sample/src/test/java/com/example/featuretoggle/web/controllers/CustomerControllerTest.java
Labels: type: dependency-upgrade, component: togglz

#347 Performance test using gatling
  .github/labeler.yml
  .vscode/settings.json
  README.md
  spring-boot-choas-monkey/README.md
  spring-boot-choas-monkey/docker/docker-compose.yml
  spring-boot-choas-monkey/pom.xml
  spring-boot-choas-monkey/src/main/java/com/example/choasmonkey/model/response/CustomerResponse.java
  spring-boot-choas-monkey/src/main/java/com/example/choasmonkey/services/CustomerService.java
  spring-boot-choas-monkey/src/main/java/com/example/choasmonkey/utils/AppConstants.java
  spring-boot-choas-monkey/src/main/java/com/example/choasmonkey/web/controllers/CustomerController.java
  spring-boot-choas-monkey/src/main/resources/application.properties
  spring-boot-choas-monkey/src/test/java/com/example/choasmonkey/gatling/CustomerRequestSimulation.java
  spring-boot-choas-monkey/src/test/java/com/example/choasmonkey/web/controllers/CustomerControllerIT.java
  spring-boot-choas-monkey/src/test/java/com/example/choasmonkey/web/controllers/CustomerControllerTest.java
Labels: type: dependency-upgrade, component : choas-monkey

#348 mapstruct with records for mapping.
  .vscode/settings.json
  spring-boot-jpa-multitenancy/schema/pom.xml
  spring-boot-jpa-multitenancy/schema/src/main/java/com/example/multitenancy/schema/config/WebMvcConfig.java
  spring-boot-jpa-multitenancy/schema/src/main/java/com/example/multitenancy/schema/config/multitenancy/MultiTenantConnectionProviderImpl.java
  spring-boot-jpa-multitenancy/schema/src/main/java/com/example/multitenancy/schema/config/multitenancy/TenantIdentifierResolver.java
  spring-boot-jpa-multitenancy/schema/src/main/java/com/example/multitenancy/schema/config/multitenancy/TenantInterceptor.java
  spring-boot-jpa-multitenancy/schema/src/main/java/com/example/multitenancy/schema/config/multitenancy/package-info.java
  spring-boot-jpa-multitenancy/schema/src/main/java/com/example/multitenancy/schema/config/tenant/package-info.java
  spring-boot-jpa-multitenancy/schema/src/main/java/com/example/multitenancy/schema/domain/request/CustomerDto.java
  spring-boot-jpa-multitenancy/schema/src/main/java/com/example/multitenancy/schema/entities/Customer.java
  spring-boot-jpa-multitenancy/schema/src/main/java/com/example/multitenancy/schema/mapper/CustomerMapper.java
  spring-boot-jpa-multitenancy/schema/src/main/java/com/example/multitenancy/schema/services/CustomerService.java
  spring-boot-jpa-multitenancy/schema/src/main/java/com/example/multitenancy/schema/utils/TenantName.java
  spring-boot-jpa-multitenancy/schema/src/main/java/com/example/multitenancy/schema/web/controllers/CustomerController.java
  spring-boot-jpa-multitenancy/schema/src/test/java/com/example/multitenancy/schema/web/controllers/CustomerControllerIT.java
  spring-boot-jpa-multitenancy/schema/src/test/java/com/example/multitenancy/schema/web/controllers/CustomerControllerTest.java
Labels: component: jpa-multitenancy

#349 adds spring 6 features
  spring-boot-choas-monkey/README.md
  spring-boot-choas-monkey/src/main/java/com/example/choasmonkey/exception/ErrorDetailProblemHandlingControllerAdvice.java
  spring-boot-choas-monkey/src/main/java/com/example/choasmonkey/web/controllers/CustomerController.java
  spring-boot-choas-monkey/src/test/java/com/example/choasmonkey/web/controllers/CustomerControllerIT.java
  spring-boot-choas-monkey/src/test/java/com/example/choasmonkey/web/controllers/CustomerControllerTest.java
Labels: component : choas-monkey
